@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Project HoneyMustard</h4>

<p>This aplication was created by the guinea pig AYISA&trade; team of the mens programming class at Compuskills. 
    The proffessionalism involved and used to create such a state-of-the-art education machine is unmatched,
     definately in Iran, and I would venture to say in the whole world.</p>
<p>We, as a group would like to extend our most heartfelt gratitude to our wonderfull devoted teacher R' Yaakov Kosbie. 
    His dedication to our class was truly something. Avi, Yaakov, Izzy, Shmuel and Avrohom.</p>
<p>Lastly, as a writer coder and compuskills student I would like to not have to say a few words, so I shan't. Especially as the stuff I've tried so far doesn't make any sense!</p>
<p>Nice meeting you bruvs!</p>

