@{
    ViewBag.Title = "Home Page";
}


    
    <p ></p>
<div style="text-align:center">
    <p>
        <a href="http://localhost:57598/Courses">
            <img src="http://compuskills.org/wptest/wp-content/uploads/2014/08/logoaug141.png" alt="Honey Mustard Project" style="height:100px;border:0"></>
        </a>
    </p>
    <h1> <font color="yellow">Project Honey Mustard </font></h1>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Schedule Planner</h2>
            <p>
                The Schedule Management Interface will allow the user
                the ability to create, access and share a class schedule.
            </p>
            <p>
                <a href="http://localhost:57598/Courses">
                    <img src="http://wheniwork.com/images/home-monitor.png" alt="Schedule Manager" style="width:100px;height:100px;border:0">Learn more &raquo;</>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Grade Book</h2>
            <p>Click over here to grade your students. You will be asked to log-in.:)</p>
            <p><a class="btn btn-default" href="~/Teacher/ClassList">Lets Go &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Guidance Planner</h2>
            <p>The college guidance planner interface allows a counselor or administrator to put together a plan with a student in order to help the student reach a degree or certificate goal in a specified period of time.</p>
            <p><a class="btn btn-default" href="~/Student/GuidanceSplashPage">Lets Go &raquo;</a></p>
        </div>
    </div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Finance Center</h2>
        <p>This, my friends, is where you track incoming and outgoing payment information for students and employees in The School. </p>
        <p><a class="btn btn-default" href="~/Finance/SelectContact">Lets Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Center</h2>
        <p>Manage emails, reminders and phone conversations. </p>
        <p><a class="btn btn-default" href="~/Contact/Options">Lets Go &raquo;</a></p>
    </div>
</div>
